.lista-notas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 23%));
  gap: 24px;
  justify-content: center;
  align-content: flex-start;

  background-color: var(--fundo);
  flex-grow: 3;
  /* grid-template-columns: repeat(5, auto); */
}

.lista-notas_item {
  margin: 12px;
  max-width: 240px;
  max-height: 400px;
  display: inline;
}
